Body
{
    background-color:rgb(121,160,235);
    
}
img
{
    width: 99%;
    margin:0.5%
}
h1
{
    color:white; margin-left:10px;
}
p
{
    color:white;
}
header {
            background-color: rgb(54, 72, 105);
            color: #fff;
            padding: 10px 0;
            text-align: center;
}
nav {
            background-color: rgb(80, 105, 153);
            color: #fff;
            text-align: center;
            padding: 10px 0;
}
nav a 
{
            color: #fff;
            text-decoration: none;
            padding: 0 10px;
}
nav a:hover {
    color: palegreen;
    text-decoration: underline;
}


