Body
{
   background-image:url('https://webkod.pl/images/para1.png'),
                   url('https://webkod.pl/images/para2.png'),
                   url('https://webkod.pl/images/para3.png');
    
}
img
{
    width: 99%;
    margin:0.5%

}
h1
{
    color:white; margin-left:10px;
}
li 
{
    color: white;

}
ul
{


    color: white;


}
a{
    color: inherit;
    text-decoration: none;

}
a:hover {
    color: palegreen;
}
