Body
{
	background-color:black
}
img
{
	margin:0.5%; width:auto
}
h1
{
	color:inherit
}
li 
{
	color:inherit
}
ul
{
	color:iherit
}
a
{
	text-decoration:none
}
a:hover
{
	color:palegreen
}
