Body
{
  background-color:rgb(121,160,235);
    
}
img
{
    width: 99%;
}
h1
{
    color:white;
}
li 
{
    color: white;

}
ul
{


    color: white;


}
a{
    color: inherit;
    text-decoration: none;

}
a:hover {
    color: rgb(241,164,121);
}
header {
            background-color: rgb(54, 72, 105);
            color: #fff;
            padding: 10px 0;
            text-align: center;
} 
header a
{
    color: #fff;
    text-decoration: none;
    padding: 0 10px; 
}
header a:hover
{
    color: rgb(241,164,121);
    text-decoration: underline;
}
