body
{
margin: 0;
padding: 0;
}
#container
{
width: 750px;
margin-left: auto;
margin-right: auto;
margin-top: 0;
border:1px solid black;
}
#nav
{
width: 750px;
margin-left: auto;
margin-right: auto;
border:1px solid black;
text-align:center;
}
#header
{
height: auto;
background-color: #9CF;
text-align: center;
}
#left
{
width: 170px;
float: left;
background-color: #ABC;
}
#right
{
width: 170px;
float: left;
background-color: #ABC;
}
#main 
{
	width: 410px;
	float: left;
	background-color: #9FF;
}
#footer
{
clear: both;
background: #999;
}
