body {
     background-color: white;
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: small;
     margin: 1.18%;
     padding: 0;
}

#container {
     width: 88.24%;
     background-color: #ffffcc;
     margin-left: auto;
     margin-right: auto;
     border: 1px solid black;
}

header {
     height: 8.24%;
     background-color: silver;
     border-bottom: 1px solid black;
}

header h1 {
     text-align: center;
     font-size: 2.35vw;
}

nav {
     width: 11.76%;
     background-color: silver;
     padding: 1.18%;
     margin: 1.18%;
     float: left;
     border: 1px solid black;
}

article {
     width: 58.82%;
     margin: 1.18%;
     padding: 1.18%;
     float: left;
     border: 1px solid black;
}

aside {
     width: 14.12%;
     background-color: silver;
     padding: 1.18%;
     margin: 1.18%;
     float: left;
     border: 1px solid black;
}

footer {
     height: 2.35%;
     background-color: silver;
     clear: both;
     border-top: 1px solid black;
}

footer p {
     text-align: center;
     padding: 0.59%;
     margin: 0;
     clear: both;
}
